.breadcrumbs {
  margin-top: 70px;
  margin-bottom: 20px;
}

.link {
  color: #bfa77a;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #8b7355;
  text-decoration: underline;
}

.separator {
  color: #bfa77a;
  margin: 0 4px;
}

.active {
  color: #000000;
  font-weight: 500;
}

.heading {
  font-family: var(--font-heading);
  color: var(--color-brown);
  font-size: 72px;
  line-height: 80px;
  margin-bottom: 8px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1601px) {
  .heading {
    font-size: 52px;
    line-height: 60px;
  }
}
@media (max-width: 1441px) {
  .breadcrumbs {
    margin-top: 20px;
  }
}
@media (max-width: 1281px) {
  .breadcrumbs {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 576px) {
  .heading {
    font-size: 36px;
    line-height: 46px;
  }
}