.clientLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 126px;
  min-width: 200px;
  flex-shrink: 0;
}

.clientLogo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
