.logo {
  display: flex;
  align-items: center;
  height: 60px;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logoImage {
  /* widtx`h: auto; */
  /* height: 40px; */
  object-fit: contain;
}
