.statCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: var(--color-white);
  padding: 20px;
  border: 1px solid var(--color-brown);
  width: 348px;
  justify-content: space-between;
}

.value {
  font-family: var(--font-heading);
  font-size: var(--fs-5xl);
  font-weight: var(--fw-semibold);
  line-height: 110px;
  color: var(--color-black);
}

.label {
  font-family: var(--font-body);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: 32px;
  color: var(--color-black);
  max-width: 130px;
}

@media (max-width: 768px) {
  .value {
    font-size: 60px;
    line-height: 70px;
  }
}