.section {
  padding: 80px 20px;
}

.inner {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.marquee {
  margin-top: 50px;
  width: 100dvw;
  overflow: hidden;
}

.swiperSlide {
  width: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee :global(.swiper-wrapper) {
  transition-timing-function: linear !important;
}

@media (max-width: 768px) {

}
